In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Sales performance.csv')
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [3]:
# Step 1: Inspect the dataset
print(data.info())  #to check overall information of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4   Units Sold             700 non-null    float64
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: float64(1), int64(2), object(13)
memory usage: 87.6+ KB
None

In [4]:

print(data.isnull().sum())        # to check data having nll values or not

Segment                  0
Country                  0
 Product                 0
 Discount Band           0
Units Sold               0
 Manufacturing Price     0
 Sale Price              0
 Gross Sales             0
 Discounts               0
  Sales                  0
 COGS                    0
 Profit                  0
Date                     0
Month Number             0
 Month Name              0
Year                     0
dtype: int64

In [5]:
data.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', 'Units Sold',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

In [6]:
data[' Discounts ']

0              $-
1              $-
2              $-
3              $-
4              $-
           ...
695     $111,375.00
696      $24,570.00
697       $1,436.40
698         $759.15
699       $3,250.80
Name:  Discounts , Length: 700, dtype: object

In [7]:
# Step 2: Remove unnecessary columns (Example: dropping unnamed index columns)
unnecessary_columns = [col for col in data.columns if "unnamed" in col.lower()]
data.drop(columns=unnecessary_columns, inplace=True)                  ##there is no unnamed column

In [8]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [9]:
## Drop rows with missing values
data.dropna(inplace=True)

In [10]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [11]:
# Step 4: Handle inconsistent formatting (e.g., trimming whitespace, fixing case sensitivity)
data.columns = data.columns.str.strip()  # Remove leading/trailing spaces in column names

In [12]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$742,500.00","$111,375.00","$631,125.00","$618,750.00","$12,375.00",3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$163,800.00","$24,570.00","$139,230.00","$136,500.00","$2,730.00",10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",5/1/2014,5,May,2014

In [13]:
data.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [48]:
import re
# Function to clean column names
def clean_column_names(df):
    df.columns = [re.sub(r'[^a-zA-Z0-9 ]', '', col).strip().replace("_","-") for col in df.columns]
    
    return df

# Function to remove currency symbols $ from specific columns
def remove_currency_symbols(df, columns):
    for col in columns:
         df[col] = df[col].astype(str).replace(r'[\$,()]', '', regex=True)  # Correct regex pattern
         df[col] = pd.to_numeric(df[col], errors='coerce').astype(float)  # Convert to integer
    return df

# Apply cleaning functions
data = clean_column_names(data)
currency_columns = ['Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit']
data = remove_currency_symbols(data, currency_columns)

# Display cleaned column names
print("Cleaned Column Names:")
print(data.columns)

Cleaned Column Names:
Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [50]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,NaN,32370.00,16185.0,16185.00,1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,NaN,26420.00,13210.0,13210.00,1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.00,21780.0,10890.00,6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,NaN,13320.00,8880.0,4440.00,6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,NaN,37050.00,24700.0,12350.00,6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,5/1/2014,5,May,2014

In [54]:
data.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [56]:
data['Profit'].unique()

array([ 16185.  ,  13210.  ,  10890.  ,   4440.  ,  12350.  , 136170.  ,
         4605.  ,  22662.  ,  18990.  ,  13905.  ,  13327.5 ,  47900.  ,
         4292.  ,   1725.  ,   3075.  ,   2920.  ,   4870.  ,  90540.  ,
         3303.  ,   1766.  ,   2745.  ,  39400.  ,  12360.  ,   2286.  ,
       155250.  ,   8208.  ,  10760.  ,  18170.  ,   2986.  ,   9020.  ,
        19449.  ,  14105.  , 100050.  ,  25542.  , 137430.  , 107550.  ,
       247500.  ,  17577.  ,  21097.5 ,   3372.  ,  19269.  ,   7613.85,
        11135.6 ,   1987.9 ,   1233.27,   2559.18,  16499.04, 104665.  ,
         4880.97,  12831.6 ,   1237.5 ,  23718.48,   6802.08,  23218.  ,
       120840.5 , 186407.5 ,  10737.9 , 108147.  ,  13479.9 ,   3531.9 ,
       117406.  ,   2486.25,   7342.9 ,   8670.53,   2726.25,   2951.25,
         6836.25,   3622.95, 136535.  ,  37867.2 ,    698.66,   3461.25,
         4037.56,    507.59,  81612.75,  46342.  ,   6540.  ,  17662.32,
         1556.85,   1856.25,  11344.2 ,   9416.  ,   3989.7 , 236716.  ,
        10003.92,  15033.6 ,   6044.4 ,   4150.  ,  11106.1 ,  40392.  ,
        76032.  ,   1655.  ,   2022.5 ,   5362.5 ,  15636.6 ,  84304.  ,
         6822.5 ,   9047.5 ,   3744.18,   9241.8 ,   9495.84, 246178.  ,
       238791.  ,   5222.4 ,  22078.  , 161020.  ,  11396.  ,  48444.  ,
         5690.  ,  11865.6 ,   9033.6 ,   5304.38,  24252.  ,  28249.  ,
        16822.08,   7845.12,   3504.82,  16424.64,    973.76, 142861.5 ,
         1608.75,   2132.5 ,  99814.5 ,   2217.5 ,   1962.5 ,  11832.48,
         2511.25,   8849.75, 116604.  ,  16554.24,  76834.  , 130539.  ,
         7811.4 ,   3150.4 ,  36194.7 ,  21418.56,   8936.4 ,   9948.4 ,
         6771.2 ,   4903.72,  76798.  ,  20824.  ,   8654.8 ,  70642.  ,
             nan,   7311.72,  53751.  , 110884.  , 262200.  ,    959.2 ,
        19080.8 ,   9715.2 ,   2952.4 ,   6661.6 ,  12481.8 ,  24343.2 ,
       165452.  ,   7378.32,  26524.  , 141740.  , 144932.  , 135128.  ,
         1912.35,   2263.8 ,   3875.85,   4436.85,  20420.4 ,   2776.95,
         9433.2 ,  15666.  ,   9374.4 ,  14067.  ,  34685.  ,   1676.4 ,
        11861.75,    940.5 ,   4103.55, 100376.25,   4533.75,  52200.  ,
        19672.8 ,  38500.  ,  11727.  ,   3740.  ,   2981.25,  56245.  ,
         3839.55,  43645.  ,  11135.  ,  89030.  ,  12501.  ,   1076.25,
          880.  ,  16218.  ,  23967.  ,   3524.4 ,   8993.  ,   2358.75,
        12159.25,   1008.75,  25488.  ,  14211.  ,   9297.  ,  43750.  ,
        11385.  ,  20673.  ,  97875.  ,  40020.  ,  15584.1 ,   9834.  ,
        11660.4 ,   4653.36,  19035.72,   8323.  ,    415.54,  67620.  ,
       100740.  ,   2216.74,  22546.44, 103224.  ,  50163.  ,   2380.  ,
         6887.5 ,   6273.  ,   2366.84,  39072.  , 143244.  ,   9882.4 ,
        77952.  ,   4968.75, 115851.  ,  15461.6 ,   9011.8 ,   7146.3 ,
         4727.3 ,   8808.8 ,   2106.14,   5932.32,  15373.44,  15772.4 ,
        19094.4 ,  19110.72,   1556.81,   4984.9 ,   1713.85,    825.97,
         2388.82,  14186.16,  18074.4 , 115345.5 ,  12992.  ,  63249.  ,
        16993.6 ,   9375.  ,  49358.  ,  13173.75,   8298.95,  11577.45,
        13201.  ,  32567.  ,  40716.  ,  22546.08,   3208.75,  48111.  ,
         5237.4 ,   7826.25,  12220.6 ,  39788.  ,   5056.8 ,  26475.12,
        27811.  ,  79663.  ,   6168.75, 188378.  ,   3727.5 ,   9614.8 ,
          702.72,  10768.8 ,    370.08,   7700.  ,   1862.  ,  84444.  ,
         9503.8 ,   5947.2 ,   5418.  ,  40612.  ,  33358.  ,   2701.8 ,
         5570.  ,   1812.96,   1576.8 ,  11474.4 ,  63960.  ,    976.32,
         2301.12,   3468.96,  16245.6 ,  25141.2 , 133052.  ,   2802.24,
         4807.92,   4186.08,   3366.72,  10036.  ,  16510.  ,  35619.  ,
        23622.  ,  26164.  ,  55484.  ,  21008.  ,  12768.  ,  11055.  ,
         3666.6 ,  25162.  ,   2906.64,  87457.5 ,  97461.  ,   7406.  ,
        18382.32,  11606.25,   2207.07,  17481.25,   7682.  ,  58995.  ,
       141394.5 ,  13413.75,   4478.55,  30452.  ,  14058.  ,    894.25,
        87250.5 ,  76459.5 ,   3543.75,  13187.5 ,  74236.5 ,  15491.52,
        61157.  ,  79062.75,   6969.6 ,  42941.  ,  17693.28,   5481.25,
       121153.5 ,   3540.5 ,  13890.8 ,   5436.6 ,   1122.03,  12513.6 ,
          713.77,   7978.6 ,   8511.6 ,    493.2 ,  15578.64,   9592.2 ,
        21992.4 ,   5951.33,   2423.52,   3010.8 ,   3026.4 ,  25841.25,
        11115.  , 127215.  ,  13530.  ,   7252.  ,  15632.  ,  11820.  ,
         7584.5 ,   1928.  ,   2383.5 ,   1785.  ,   2765.  ,  35145.  ,
        11970.  ,  45880.  ,   3464.5 ,  14370.  ,  17060.  ,   2557.5 ,
         2243.5 , 154385.  ,   8640.  ,  18967.5 , 102850.  ,   4342.5 ,
       123200.  ,  59860.  ,  27459.9 ,  16312.  ,  20077.2 ,  38885.  ,
         9200.64,   3114.36,   1286.4 ,   3624.96,   1942.17,   7718.4 ,
        10718.33,  14876.16,  40788.  ,  47787.  ,  21358.75,   5226.  ,
         3328.38,  39449.  ,  23337.6 ,   7225.95,  14841.  ,   8751.6 ,
       108381.75,  30919.68,  18627.84,  18673.2 ,   6646.4 ,  23222.  ,
        21879.  ,   2194.25,  17716.  ,   2223.84,  13317.12,   4847.5 ,
        22893.  ,  27693.75,  20506.2 ,  12538.75,   8286.25,    467.4 ,
        42528.  ,  24160.  ,  21560.  ,   8604.8 ,   2166.4 ,  24822.  ,
         2807.2 ,   3171.44,  13034.  ,  16604.  ,  48930.  ,   6878.  ,
        76512.  ,  19026.  ,  30100.  ,  57456.  ,   1216.  ,   9370.8 ,
        66960.  ,  47328.  ,  15944.04,  12398.4 ,  29904.  ,  23870.  ,
        12960.  ,   3968.94,   8153.6 ,  19163.4 ,  20117.16,  11635.6 ,
         1729.56,  20873.16,   7829.35,  41073.5 ,  79655.  ,   3270.8 ,
        43721.25,   1414.82,   4493.76,  16687.  ,   9242.6 ,   1567.97,
         8877.  ,  19543.4 ,  20039.2 , 117124.  ,  17808.75,   4248.24,
         2938.64,   4773.25,  15886.5 ,   7536.72,  12192.38,   1297.1 ,
         2013.  ,   3050.4 ,  28655.  ,  18663.75,  13168.8 ,  18568.8 ,
        12549.6 ,   3055.92,    285.6 ,    298.86,    806.2 ,  17481.6 ,
         5124.3 ,  10196.76,  14749.8 ,   6408.  ,  12787.5 ,  11968.  ,
         8080.  ,   4387.7 ,   6670.  ,  35262.5 ,  91327.5 ,  49159.  ,
         8200.  ,    395.76,   1761.54,   1872.  ,   7163.  ,   5054.7 ,
        21330.48,   1765.62,  28700.  ,  16265.04,  48257.  ,  78802.  ,
        19687.5 ,   4363.2 ,  19680.  ,   2152.  ,  20288.  ,   2961.06,
        20328.  ,  52521.  ,   7104.  ,  35550.  ,  18117.  ,   5423.  ,
        16142.5 ,  38046.25,  14918.75,   2730.  ,   8106.  ,   4438.5 ,
         2408.25, 106912.5 ,   7037.25,   1869.  ,   3231.25,  75262.5 ,
        80662.5 ,   6580.8 ,   2051.  ,   3600.  ,   7771.5 ,   9116.25,
        12870.  ,  33522.5 ,   6058.5 ,   1353.  ,  40617.5 ,   7590.  ,
        12375.  ,   1299.6 ,    686.85,  13003.2 ])

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    float64
 5   Manufacturing Price  700 non-null    float64
 6   Sale Price           700 non-null    float64
 7   Gross Sales          700 non-null    float64
 8   Discounts            647 non-null    float64
 9   Sales                700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               695 non-null    float64
 12  Date                 700 non-null    object
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: float64(8), int64(2), object(6)
memory usage: 87.6+ KB

In [60]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,NaN,32370.00,16185.0,16185.00,1/1/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,NaN,26420.00,13210.0,13210.00,1/1/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,NaN,32670.00,21780.0,10890.00,6/1/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,NaN,13320.00,8880.0,4440.00,6/1/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,NaN,37050.00,24700.0,12350.00,6/1/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,3/1/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,10/1/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,2/1/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,4/1/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,5/1/2014,5,May,2014

In [64]:
## to save cleaned data

# Save cleaned data
data.to_csv("C:/Users/pc/Downloads/Sales performance.csv", index=False)
print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!